* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content1 {
    height: 350%;
    width: 300;
}

.content2 {
    height: 350%;
    width: 300%;
}

.table {
    border-collapse: collapse;
    border: 1px solid black;
}